@charset "UTF-8";

/* 回答はここに書いてね */
.calorie{
  margin: 0 auto;
  border: solid 1px #dedede;
  border-collapse: collapse;
  line-height: 26px;
  font-size: 18px;
  table-layout: fixed;
  width: 100%;
}

.calorie th{
  border: solid 1px #dedede;
  padding: 10px;
  background-color: #2244aa;
  color: #ffffff;
}

.calorie tr{
  border: solid 1px #dedede;
  line-height: 26px;
}

.calorie td{
  border: solid 1px #dedede;
  padding: 10px 30px 10px 30px;
  text-align: center;
}

.calorie tr:nth-child(even){background-color: #ecf1f2;}

.calorie td:first-child{
  background-color: #2244aa;
  color:#ffffff;
}

.calorie tr:last-child{
  border-top: dashed 2px #000;
}

.calorie tr:first-child{
  border-top:  solid 1px #dedede;
}

/* 回答はここに書いてね */
