@charset "UTF-8";

/* 回答はここに書いてね */
table{
  margin: 0 auto;
  border: solid 1px #dedede;
  border-collapse: collapse;
}

th{
  border: solid 1px #dedede;
  padding: 10px;
  background-color: #2244aa;
  color: #ffffff;
}

tr{
  border: solid 1px #dedede;
}

td{
  border: solid 1px #dedede;
  padding: 10px 30px 10px 30px;
  text-align: center;
}

tr:nth-child(odd){background-color: #ecf1f2;}

td:first-child{
  background-color: #2244aa;
  color:#ffffff;
}

tr:last-child{
  border: dashed 2px #000;
}

/* 回答はここに書いてね */
